body {
    margin-top: 100px;

    font-family: 'Special Elite', cursive;
}

.container {
    max-width: 750px;
}

.paragraphHeading,
button {
    font-family: 'Black Ops One', cursive;
}

h1 {
    font-family: 'Bungee Inline', cursive;
}

#toggle {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#toggle:active {
    opacity: 0.7;
}

li {
    margin: 3%;
    padding: 1%;

    background-color: lightgray;
}

ul {
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    margin: 0 auto;
    padding: 10px;

    overflow: hidden;

    font-size: 0.7em;
    text-align: center;

    background-color: lightgray;

    opacity: 0.75;
}
