html,
body {
    height: 100%;
    margin: 0;

    color: #666;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
}

.par-image1,
.par-image2,
.par-image3,
.par-image4 {
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
    opacity: 0.7;
}

.par-image1 {
    min-height: 100%;

    background-image: url('../images/image1.jpg');
}

.par-image2 {
    min-height: 400px;

    background-image: url('../images/image2.jpg');
}

.par-image3 {
    min-height: 400px;

    background-image: url('../images/image3.jpg');
}

.par-image4 {
    min-height: 400px;

    background-image: url('../images/image4.jpg');
}

.section {
    padding: 50px 80px;

    text-align: center;
}

.section-light {
    color: #666;

    background-color: #f4f4f4;
}
.section-dark {
    color: #ddd;

    background-color: #282e34;
}

.par-text {
    position: absolute;
    top: 50%;

    width: 100%;

    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
}

.par-text .border {
    padding: 20px;

    color: #fff;

    background-color: rgba(17, 17, 17, 0.75);
}

.par-text .trans {
    background-color: transparent;
}

@media (max-width: 568px) {
    .par-image1 .par-image2 .par-image3 .par-image4 {
        background-attachment: scroll;
    }
}
