:root {
    --nav-bar-width: calc(6.25rem + 5vmin);
    --nav-bar-height: 3.75rem;
    --footer-height: 1.5625rem;
}

* {
    box-sizing: border-box;
}

.body {
    height: 100vh;
    max-height: 100vh;
}

/* region mobile nav-bar */
.nav-bar__bottom {
    position: fixed;
    bottom: var(--footer-height);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: var(--nav-bar-height);

    background: white;
    box-shadow: 0 -1px 6px gainsboro;
}

.nav-bar__bottom > .nav-bar__header {
    display: none;
}

.nav-bar__bottom > ul {
    display: flex;
    justify-content: space-between;
    padding: 0;

    list-style-type: none;
}
/* endregion mobile nav-bar */

/* region mobile main-content */
.container {
    z-index: 0;

    width: 100%;
    height: calc(100% - (var(--nav-bar-height) + var(--footer-height)));
    overflow: auto;
}
/* endregion mobile main-content */

/* region mobile footer */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 2;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--footer-height);

    text-align: center;
    vertical-align: middle;

    background: #e9e9e9;
}

.footer > a {
    margin: 0 5px;
    padding: 5px 0;
}

.footer > span {
    display: none;
}
/* endregion mobile footer */
