:root {
    --nav-bar-width: 15.625rem;
    --nav-bar-height: 3.75rem;
    --footer-height: 1.5625rem;
    --container-padding: calc(0.625rem + 5vmin);

    --primary-color: #9d5c63;
    --secondary-color: #dbbfa6;
    --tetriary-color: #d9e5f8;
    --background-color: #28292b;
    --background-alt-color: #3b3c3e;
    --font-color: #fef5f0;
}

/* region global styles */
* {
    box-sizing: border-box;
}

.body {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    font-family: 'Courier New', Courier, monospace;
}

p {
    line-height: 1.5rem;
    text-indent: 1.25rem;
}
/* endregion global styles */

/* region mobile nav-bar */
.nav-bar__bottom {
    position: fixed;
    bottom: var(--footer-height);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: var(--nav-bar-height);
}

.nav-bar__bottom > .nav-bar__header,
.nav-link > span {
    display: none;
}

.nav-bar__bottom > ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.nav-item {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: var(--font-color);
    text-decoration: none;

    background-color: var(--primary-color);
}

.fas {
    font-size: 1.5rem;
}
/* endregion mobile nav-bar */

/* region mobile main-content */
.container > h1 {
    margin: 1.25rem;

    color: var(--font-color);
    text-align: center;
}

.container {
    z-index: 0;

    height: calc(100% - (var(--nav-bar-height) + var(--footer-height)));
    overflow: auto;

    background: var(--background-alt-color);
}

.container > .main-section > header {
    width: 100%;
    padding: 0.625rem 0;

    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    background: var(--background-alt-color);
}

.container > .main-section {
    padding: var(--container-padding);

    color: var(--font-color);

    background: var(--background-color);

    border-top: 0.0625rem solid gainsboro;
    border-bottom: 0.0625rem solid gainsboro;
}

.container > .main-section > code {
    color: black;
    font-weight: 700;

    background: var(--secondary-color);
}

.main-section > ul > li {
    margin: 1.25rem 0;

    line-height: 1.5rem;
}
/* endregion mobile main-content */

/* region mobile footer */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 2;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--footer-height);

    text-align: center;
    vertical-align: middle;

    background: var(--primary-color);
}

.footer > a {
    margin: 0 0.3125rem;
    padding: 0.3125rem 0;
}

.footer > span {
    display: none;
}
/* endregion mobile footer */

@media only screen and (min-width: 48rem) {
    /* desktop */

    /* region desktop nav-bar */
    .nav-bar__side {
        top: 0;
        left: 0;

        justify-content: flex-start;
        width: var(--nav-bar-width);
        height: calc(100% - var(--footer-height));

        background: var(--primary-color);
        border-bottom: 0.1875rem solid var(--background-alt-color);
    }

    .nav-bar__header {
        margin-top: 3.125rem;
        margin-left: 0.625rem;

        color: var(--font-color);
        font-weight: 700;
        font-size: 1.125rem;
        text-decoration: underline;
    }

    .nav-bar__side > .nav-bar__header,
    .nav-bar__side > ul {
        display: block;
    }

    .nav-link {
        display: inline;
    }
    .nav-link > span {
        display: inline;
        margin-left: 0.3125rem;
    }

    .nav-bar__side > ul > li {
        margin: 1.25rem;
    }
    /* endregion desktop nav-bar */

    /* region desktop main-content */
    .container {
        width: calc(100% - var(--nav-bar-width));
        height: calc(100vh - var(--footer-height));
        margin-left: var(--nav-bar-width);
    }

    .container > .main-section {
        max-width: 48rem;
        margin: 30px auto;
    }
    /* endregion desktop main-content */

    /* region desktop footer */
    .footer > span {
        display: inline;
        margin: 0 0.3125rem;
    }
    /* endregion desktop footer */
}
