body {
    color: #fff;

    background: #333;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#home-section {
    min-height: 700px;

    background-image: url(../images/mirrors-edge-catalyst-gabriel-kruger-faith.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 700px;

    background-color: rgba(0, 0, 0, 0.7);
}
#home-section .home-inner {
    padding-top: 150px;
}
#home-section .card-form {
    opacity: 0.8;
}
#home-section .fa {
    padding: 4px;

    color: #008ed6;
    font-size: 30px;

    background: #fff;
    border-radius: 5px;
}

#explore-section .fa,
#share-section .fa {
    padding: 4px;

    color: #fff;
    font-size: 30px;

    background: #333;
    border-radius: 5px;
}

#create-section .fa {
    padding: 4px;

    color: #008ed6;
    font-size: 30px;

    background: #fff;
    border-radius: 5px;
}
