/* CSS Variables */
:root {
    --primary: #f8992d;
    --dark: #eaeaeb;
    --light: #f4f4f5;
    --muted: #777777;
    --heading: #a0a0a0;
}
/* Core Styles */
html,
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Navigation */
.main-nav {
    position: fixed;
    top: 0;

    width: 100%;

    background: #fff;
}
.main-nav li {
    display: inline;
    padding: 0.7rem;

    color: var(--muted);

    list-style: none;
}
.main-nav strong {
    padding: 0.7rem;

    color: var(--primary);
    font-size: 1.15rem;
}
i {
    padding: 0 0.35rem 0 0;

    color: #111;
}
.main-nav :last-child {
    color: var(--primary);
}
.main-nav a {
    float: right;
    padding: 0 0 0 0.7rem;
    padding-right: 23%;

    text-decoration: none;
}
.side-nav {
    position: fixed;
    right: 2.15rem;

    width: 15%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}
.side-nav a {
    margin: 0;
    padding: 0;

    color: #fff;
    text-align: center;
    text-decoration: none;
}
.side-nav i {
    color: #fff;
}
/* Buttons */
.btn {
    display: inline-block;
    width: 100%;
    margin: 0.7rem 0;
    padding: 0.7rem 1.1rem;

    color: white;
    font-size: 1.15rem;
    text-align: center;
    text-decoration: none;

    background: var(--primary);
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}
.btn:hover {
    background: var(--primary);
    opacity: 0.7;
}
/* The Close Button */
.close {
    float: right;
    margin-top: 0.938em;

    color: var(--primary);
    font-weight: bold;
}
.btn-secondary {
    display: inline-block;
    width: 7rem;
    margin: 0.7rem 0.5rem;
    padding: 0.7rem 1.1rem;

    color: white;
    font-size: 1.15rem;
    text-align: center;
    text-decoration: none;

    background: var(--primary);
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}
.delete-server {
    color: var(--dark);
}
.close:hover,
.close:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.delete-farm:hover,
.delete-farm:focus {
    color: #000;
    text-decoration: none;

    cursor: pointer;
}
.white {
    color: #fff;
}
/* The Modal (background) */
.modal {
    position: fixed;
    top: 0;
    /* Location of the box */
    left: 0;
    /* Stay in place */
    z-index: 2;

    display: none;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Sit on top */
    padding-top: 6.25em;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;

    width: 80%;
    margin: auto;
    margin-bottom: 12.5em;
    padding: 0;

    background-color: #fefefe;
    border: 0.063em solid #888;
    border-radius: 0.938em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);

    -webkit-animation-name: animatetop;
    animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -18.75em;

        opacity: 0;
    }
    to {
        top: 0;

        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -18.75em;

        opacity: 0;
    }
    to {
        top: 0;

        opacity: 1;
    }
}
.modal-header {
    padding: 0.125em 1em;

    color: #fff;

    background-color: var(--primary);
    border-radius: 0.625em 0.625em 0 0;
}
.modal-body {
    padding: 1.25em 1.875em;
}
.modal-footer {
    height: 5em;
    padding: 0.125em 0.938em;

    background-color: #fff;
    border-top: 0.063em solid var(--dark);
    border-radius: 0 0 0.625em 0.625em;
}
input {
    display: inline;
    box-sizing: border-box;
    width: auto;
    margin: 0 0 0.625em 0;
    padding: 0.313em 0.938em;

    color: #151515;
    font-size: 0.875em;

    border: 0.063em solid var(--heading);
    border-radius: 0.313em;
}
label {
    display: inline;
    box-sizing: border-box;
    padding: 0 0.625em 0 1.25em;

    color: #151515;
    font-size: 1em;
}
fieldset {
    margin: 0 0 0.625em;
}
fieldset:nth-child(1) input:nth-child(7) {
    display: inline;
    width: 80%;
}
/* Main Section Styles */
.container {
    width: 75%;
    height: 91vh;
    margin: 3.33rem 2.857rem 0 0;
    padding: 0 2.857rem 0 3.571rem;
}
/* Table */
table {
    width: 100%;

    color: #151515;

    border-collapse: collapse;
}
tr:nth-child(1) {
    color: var(--muted);
    font-weight: bold;

    background-color: var(--light);
    border-top: 0.07143rem solid var(--dark);
}
td,
th {
    padding: 0.313em 0.313em;
}
th {
    margin: 0;
    padding: 0.57;

    color: var(--heading);
    font-weight: normal;
    text-align: right;
}
table tr:nth-child(2) :nth-child(3) {
    color: black !important;
}
