$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.75);

body {
    margin-top: 105px;
}

.navbar {
    background: #fff;
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;

    .nav-item {
        padding-right: 20px;

        font-size: 1.4rem;
    }
}

#showcase {
    position: relative;

    min-height: 600px;

    background: url('../images/mountains.jpeg');

    .primary-overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: $primary-overlay;
    }
}

.info-header {
    width: 50%;
    margin: auto;

    border-bottom: 1px #ddd solid;
}

.card-header:hover {
    cursor: pointer;
}

#authors {
    img {
        margin-top: -50px;
    }

    .fa {
        font-size: 25px;
    }

    .card:hover {
        color: #fff;

        background: $primary;

        .fa {
            color: #fff;
        }
    }
}
