/* Core Styles */

body {
    margin: 0;

    color: #fff;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;

    background: #1a1a1a;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    margin: 0.8em 0;
    padding: 1em 2em;

    color: #fff;
    text-decoration: none;

    background: hsla(0, 0%, 10%, 0.6);
    border: 1px solid hsla(0, 0%, 50%, 0.6);
    border-radius: 3px;
}

.btn:hover {
    color: #fff;

    background: hsla(0, 0%, 30%, 0.6);
    box-shadow: 1px 1px 20px 8px rgba(20, 74, 117, 0.89), 1px 1px 10px 4px rgba(20, 74, 117, 0.93);
}

/* Header Showcase */

#showcase {
    min-height: 450px;

    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 450px;

    background: #1a1a1a url('../images/DSCF0579.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;
}

/* Section A */

#section-a {
    padding-bottom: 2em;

    color: #333;

    background: #eaeaea;
}

/* Section B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

#section-b li {
    margin-bottom: 1em;

    color: #333;

    background: #fff;
}

.card-content {
    padding: 1.5em;
}

/* Section C */

#section-c {
    padding: 2em;

    color: #333;

    background: #fff;
}

/* Section D / Boxes */

#section-d .box {
    padding: 2em;

    color: #fff;
}

#section-d .box:first-child {
    background: #144a75;
}

/* Footer */

#main-footer {
    padding: 2em;

    color: #fff;
    text-align: center;

    background: #000;
}

#main-footer a {
    color: #144a75;
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 684px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p {
        padding-top: 0;
    }

    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: grid;
        grid-column-gap: 1.5em;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        box-shadow: 1px 1px 20px 8px rgba(0, 0, 10, 0.19), 1px 1px 10px 4px rgba(0, 0, 10, 0.23);
    }
}
