body {
    min-width: 320px;

    font-family: 'Raleway', sans-serif;
    text-align: center;

    background-color: hsl(52, 26%, 71%);
}

h1 {
    font-family: 'Lobster Two', cursive;
}
.container {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;

    background-color: hsl(52, 46%, 91%);
    border: 1px solid hsl(46, 24%, 54%);
}

.labels {
    display: inline-block;
    width: 40%;
    margin-top: 10px;
    padding: 5px;

    text-align: right;
    vertical-align: top;
}

.rightTab {
    display: inline-block;
    width: 48%;

    text-align: left;
    vertical-align: middle;
}

.inputField {
    width: 280px;
    height: 20px;
    margin: 10px;
    padding: 5px;

    border: 1px solid hsl(46, 24%, 54%);
    border-radius: 2px;
}

button {
    margin: 10px;
    padding: 10px;

    font-size: 1em;

    background-color: hsl(46, 24%, 54%);
    border: 0 solid;
    border-radius: 7px;
}

.imgDiv {
    width: 100%;
}

.img-logo {
    max-width: 274px;
    height: auto;

    opacity: 50%;
}

[type='checkbox'],
[type='radio'] {
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer {
    max-width: 902px;
    margin: 0 auto;
    padding: 10px;

    font-size: 0.8em;

    background-color: hsl(52, 16%, 61%);

    opacity: 0.75;
}

@media screen and (max-width: 833px) {
    body {
        margin: 0 15px;

        font-size: 0.9em;
    }
    .inputField {
        width: 80%;
    }
    select {
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .labels {
        width: 100%;

        text-align: left;
    }
    .rightTab {
        float: left;
        width: 80%;
    }
    .inputField {
        width: 100%;
    }
    select {
        width: 100%;
    }
}
